---
layout: home
title: Mindmeld Coaching services
base_url: "../"
---

<div id="content" role="main">
    <div id="services" class="row">
        <div class="container">
            <h2 class="col-sm-12">Services that we offer</h2>
            <div class="col-sm-9">
                <ul id="services-tabs" class="">
                    <li class="active">
                        <a href="#coaching" data-toggle="tab"><span class="icons-services-icon-coaching"></span> Coaching</a>
                    </li>
                    <li>
                        <a href="#training" data-toggle="tab"><span class="icons-services-icon-training"></span> Training</a>
                    </li>
                    <li>
                        <a href="#event-mc" data-toggle="tab"><span class="icons-services-icon-event-mc"></span> Event MC</a>
                    </li>
                    <li>
                        <a href="#celebrancy" data-toggle="tab"><span class="icons-services-icon-celebrancy"></span> Celebrancy</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active" id="coaching">

                        <h3>Coaching</h3>

                        <h4>Go in the Vault with Brenda - the MindMeldCoaching experience.</h4>

                        <p>Brenda says &ldquo;People often ask me what coaching is like. I describe it as &lsquo;going in the vault&rsquo;, a place where confidential information is shared between me and the client and it stays locked away in the vault.  Confidentiality is everything in coaching, and you can be assured of the professional integrity of me as your coach.&rdquo;
                        Each session is ninety minutes, so that you get the full opportunity to set your goals, and explore options for getting the changes you want.  Coaching can be in person, via telephone, FaceTime, or Skype.</p>

                        <p>Coaching can be scheduled from 7 a.m. in the morning, and MindMeldCoaching also offers &lsquo;late nights&rsquo; on Tuesdays and Thursdays to fit in with your busy schedule.</p>

                        <p>What makes MindMeldCoaching different from other coaching is that we want to GROW you not harvest you - therefore an investment in three or four sessions is usually enough to get achieve results.   Understanding you are busy people, we aim to get you &lsquo;done and dusted&rsquo;, in a short sharp coaching burst.  You can always come back for a top up if you want.</p>

                        <p>MindMeldCoaching offers four forms of coaching:</p>

                        <ul>
                            <li><a href="#executive">Executive Coaching</a></li>
                            <li><a href="#bloke">Bloke Coaching</a></li>
                            <li><a href="#group">Group Coaching</a></li>
                            <li><a href="#life">Life coaching</a></li>
                        </ul>

                        <h4 id="executive">Executive Coaching</h4>

                        <p>This coaching focuses on helping you build on your strengths to become more effective in your day job, and enjoy life more.  Executives who seek this form of coaching often ask for  top-ups to deal better with interview skills, conflict, presentations skills, and confidence building.</p>

                        <h4 id="bloke">Bloke Coaching</h4>

                        <p>Bloke Coaching is a new service tailored especially for men, who are seeking fast paced, results focused coaching, without the need to get all touchy-feely.  This form of coaching is tough, confronting, and sometimes uncomfortable. And it works. As Mr T eloquently puts it &ldquo;Just because something is pink doesn&rsquo;t mean it can&rsquo;t kick your butt.&rdquo;</p>

                        <h4 id="group">Group coaching and problem solving</h4>

                        <p>Group coaching involves using proven coaching tools to assist groups to solve problems, work together better, and set their direction, plan effectively to achieve goals.</p>

                        <h4 id="life">Life coaching</h4>

                        <p>Using coaching tools from the field of Neuro Linguistic programming (NLP), Brenda works with clients to help them overcome limiting decisions or beliefs that may be holding them back, and set their course.</p>

                        <h4>About NLP</h4>

                        <p>NLP is the study of success, and how successful people think and behave.  In Therapeutic Coaching, together, we will examine your thought processes and behaviour patterns to see where they work well for you, and where new thoughts and behaviours will help you better get the changes you seek.  Brenda has very much enjoyed helping clients achieve their goals of:</p>

                        <ul>
                            <li>Becoming smoke free</li>
                            <li>Increasing confidence</li>
                            <li>Gaining a driver&rsquo;s license</li>
                            <li>Preparing for a hospital stay</li>
                        </ul>

                        <p>The reward in life coaching is that when clients finally fix the issue that has been vexing them, their success radiates into other areas of their lives, transforming and improving all it touches, so they begin to enjoy life more.</p>

                        <p><strong>You can book an in-house training, or one on one coaching by contacting Brenda now on +64 21 847727 or <a href="#">email us</a> with your enquiry.</strong></p>

                    </div> <!-- #coaching -->

                    <div class="tab-pane fade" id="training">

                        <h3>Training</h3>

                        <h4>Executive Presence - the interplay between Power and Charisma</h4>

                        <p>Brenda says: <q>Following on from my studies at Stanford University on Leadership - the Effective Use of Power, I have developed my thinking and practice around Executive Presence and the importance of charisma.  What makes a compelling executive?  How can executives be fully in the moment, notice opportunities, persuade effectively, and become less harried?  What makes a leader both charismatic and trustworthy?</q></p>

                        <h4>The answer lies in enhancing your executive presence</h4>

                        <p>By that I mean:</p>

                        <ul>
                            <li>your body language more effectively to communicate authentic leadership</li>
                            <li>boosting your ability to focus</li>
                            <li>decreasing time spent worrying</li>
                            <li>moving your language patterns from that of apology and questioning to purpose and
                                power</li>
                            <li>dealing with conflict assertively</li>
                            <li>learning how to interrupt and when to stay silent.</li>
                        </ul>

                        <p>Executive Presence is offered as part of executive coaching and also for in-house training.
                        Learn to move purposefully and with power in your corporate world.</p>

                        <h4>Presentation skills - Unlocking the hidden secrets of great presenters</h4>

                        <p>What if you could become an charismatic and confident presenter in just one morning?</p>

                        <p>You may or may not already think of yourself as a walking and talking marketing tool for positive change, and this training will help you maximize formal and informal opportunities to share your wisdom and experience.</p>

                        <p>Specifically in this training, you will learn how to:</p>

                        <ul>
                            <li>Appeal to your audience, and how to speak directly to this need</li>
                            <li>Tell your story, (the Good the Bad, and the Ugly), in an authentic way that resonates powerfully</li>
                            <li>Embed your presentation with key messages to create that post-session buzz</li>
                            <li>Prepare effectively and find the balance between spontaneity and focus</li>
                            <li>Handle questions (even the ones you secretly hope no one will ask)</li>
                            <li>Go from a knee-knocking, butterfly-tummied dry mouth presenter, to one who can&rsquo;t wait to bounce on the stage and share your ideas with like-minded curious conference goers.</li>
                        </ul>

                        <p>Realistically, you are going to have to be ready for that walk out on the stage moment at some point.  So why not prepare now?</p>

                        <p><strong>You can book an in-house training, or one on one coaching by contacting Brenda now on +64 21 847727 or <a href="#">email us</a> with your enquiry.</strong></p>

                    </div> <!-- #training -->

                    <div class="tab-pane fade" id="event-mc">

                        <h3>MC for conferences and special events</h3>

                        <p>MindMeldCoaching offers MC work for Conferences, and also for personal precious moments, such as baby naming ceremonies and civil unions.</p>

                        <p>Brenda is comfortable and experienced with MC&rsquo;ing large events, where the conference schedule needs to run like clockwork, and participants must remain engaged and focused over one or two days.  Brenda uses her  excellent communication and rapport skills to build connection with the  audience so that they enjoy the conference and leave feeling motivated and inspired.</p>

                        <p>She brings those same skills to more intimate, but no less crucial moments of significance in everyone&rsquo;s life, such as baby naming, wedding receptions, and civil unions.  At those times of peak emotional experience, you want someone who will help you remember your lines, who will help you create long lasting and treasured memories.</p>
                        <p><strong>For your special occasion, contact Brenda now on +64 21 847727 or <a href="#">email us</a> with your enquiry.</strong></p>

                    </div> <!-- #event-mc -->

                    <div class="tab-pane fade" id="celebrancy">

                        <h3>Marriage celebrancy</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor felis in orci laoreet tincidunt. Vivamus faucibus tempor arcu, sit amet interdum magna feugiat sed. Pellentesque sed interdum sem, vitae tincidunt urna. Quisque porttitor lorem sed tellus pulvinar, ultricies eleifend nisl sagittis. Donec et ante vel mi porta fermentum in sit amet elit. Nullam tincidunt, eros ac porttitor sodales, purus diam porttitor leo, ut porta ante purus a massa. Sed sit amet elit imperdiet, accumsan elit ut, posuere lectus.</p>

                        <p>Morbi feugiat neque id nunc ullamcorper, in hendrerit lorem fermentum. Sed hendrerit, libero ut viverra ultrices, orci lorem consectetur urna, eget laoreet elit velit sed risus. Nulla elit metus, gravida vel viverra ut, egestas vel risus. Fusce quis placerat justo. Aliquam blandit velit et faucibus euismod. Donec tempor feugiat leo, ut mollis ante pretium ut.</p>

                        <p>In porttitor ullamcorper libero, sit amet vulputate metus malesuada semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec egestas porttitor imperdiet. Phasellus sit amet tortor tempus, accumsan massa sit amet, placerat sapien. Morbi sit amet interdum orci, ac tristique arcu. Aenean hendrerit sem tristique tincidunt scelerisque. Vestibulum sit amet urna at lacus varius mattis. Nullam nulla lacus, ultrices pellentesque elementum vel, gravida et nulla. Proin dapibus, risus vel suscipit tincidunt, orci tortor eleifend urna, molestie semper purus justo a sapien. Aenean gravida mi quam, vitae sollicitudin dolor consequat at. Phasellus nec est nunc.</p>

                        <p><strong>For your special occasion, contact Brenda now on +64 21 847727 or <a href="#">email us</a> with your enquiry.</strong></p>

                    </div> <!-- #celebrancy -->
                </div>
            </div>

            <aside class="col-sm-3">

                {% include partial-bookings.html %}

                {% include partial-testimonials.html %}

            </aside>
        </div>
    </div> <!-- #services -->
</div>