<div id="sidebar-testimonials">
    <h4>Testimonials</h4>

    <div class="testimonial">
        <p>&ldquo;Nam rhoncus nisl at mi auctor sagittis. Nullam a odio ut dui tempus accumsan. Aliquam scelerisque, est sed dictum fermentum, nulla ante gravida nisl, sed commodo mi eros in risus. &rdquo;</p>

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="../assets/images/home/placeholder-avatar.jpg"
                     alt="placeholder avatar."
                     width="50" height="50" />
            </a>
            <div class="meida-body">
                <h4>Joe Blogg</h4>
                <p>CEO & Founder, Blogg Limited</p>
            </div>
        </div>
    </div> <!-- .testimonials -->

    <div class="testimonial">
        <p>&ldquo;Nam rhoncus nisl at mi auctor sagittis. Nullam a odio ut dui tempus accumsan. Aliquam scelerisque, est sed dictum fermentum, nulla ante gravida nisl, sed commodo mi eros in risus. &rdquo;</p>

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="{{ page.base_url }}assets/images/home/placeholder-avatar.jpg"
                     alt="placeholder avatar."
                     width="50" height="50" />
            </a>
            <div class="media-body">
                <h4>Joe Blogg</h4>
                <p>CEO & Founder, Blogg Limited</p>
            </div>
        </div>
    </div> <!-- .testimonials -->
</div> <!-- #sidebar-testimonials form -->