<footer role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>About Mindmeld Coaching</h5>

                <p>Aliquam erat volutpat. Praesent adipiscing at eros id varius. Pellentesque ante dui, suscipit aliquam adipiscing id, gravida in tellus. Aenean consectetur, diam quis dignissim vehicula.</p>
            </div>

            <div class="col-sm-2">
                <h5>Site links</h5>

                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>Latest tweets <span class="icons-footer-icon-white-twitter">Twitter</span></h5>
                <div class="tweet">
                    <p class="content">Proin eget commodo tortor. In ut faucibus lectus, non
                        mattis enim.http://www.alink.com</p>
                    <p class="date">Posted 3 days ago</p>
                    <p><a href="#">View more tweets</a></p>
                </div>
            </div>

            <div class="col-sm-3">
                <h5>Contact us</h5>

                <div class="address">
                    <p>105 The Terrace</p>
                    <p>Wellington</p>
                    <p>+61 21 847 727</p>
                </div>

                <p><a href="#">Email us</a></p>

                <ul class="footer-social">
                    <li class="facebook"><a href="#" class="icons-footer-icon-black-facebook">Facebook</a></li>
                    <li class="twitter"><a href="#" class="icons-footer-icon-black-twitter">Twitter</a></li>
                    <li class="linkedin"><a href="#" class="icons-footer-icon-black-linkedin">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>